## STATIC CONFIG (restart traefik to update)

# shows you a log msg if a newer image tag can be used
global:
  checkNewVersion: true

# log default is ERROR, but WARN is more helpful
log:
  level: WARN
  # level: INFO

# enable dashboard on 8080 with auth
api: true
  # insecure: false
  # dashboard: true

# enable ping so the `traefik healthcheck` works
ping: {}

# auto-proxy containers if they have proper labels
# and also use this file for dynamic config (tls)
providers:
  docker:
    endpoint: tcp://socket-proxy:2375
    exposedByDefault: false
    swarmMode: true
    constraints: "Label(`traefik.constraint-label`, `traefik-public`)"
    watch: true
  file:
    fileName: /etc/traefik/traefik.yaml
    watch: true

# # listen on 80/443, and redirect all 80 to 443 via 301
entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true
  https:
    address: :443

accessLog: {}

# certificatesResolvers:
#   le:
#     acme:
#       email: jrgarlick@gmail.com
#       storage: /certificates/acme.json
#       tlsChallenge:
#         entryPoint: https

## DYNAMIC CONFIG

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/dev_garlick_zone.cert
        keyFile: /certs/dev_garlick_zone.key
# when testing certs, enable this so traefik doesn't use 
# it's own self signed. By default if it can't find a matching
# cert, it'll just create it's own which will cause cert warnings
# in browser
# options:
#   default:
#     sniStrict: true
